body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lemonchiffon;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100%; 
    background-image: url('./img/0.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center; 
}

#left-eye {
    top: 455px; /* Adjust the position */
    left: 436px; /* Adjust the position */
    width: 50px; /* Adjust the size */
    height: 50px; /* Adjust the size */
    border: solid black;
}

#right-eye {
    top: 760px; /* Adjust the position */
    left: 403px; /* Adjust the position */
    width: 50px; /* Adjust the size */
    height: 50px; /* Adjust the size */
    border: solid black;
}

#book {
    top: 60%; /* Adjust the position */
    left: 40%; /* Adjust the position */
    width: 100px; /* Adjust the size */
    height: 50px; /* Adjust the size */
    border: solid black;
}